* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #011017;
}

h1 {
  font-size: 3.5rem;
  color: #acacac;
  text-align: center;
  margin: 2rem;
}
.logo {
  width: 150px;
  margin-top: 25px;
  margin-left: 25px;
}

.hero {
  /* background-color: #1b1717; */
  height: 900px;
}

.hero-img {
  background-color: #f4a700;
  width: 100%;
  height: 21rem;
  margin-top: 1rem;
  padding: 0.5rem;
  display: block;
}

.hero-img img {
  max-width: 230px;
  height: 20rem;
  margin: 0 1.3px 0 1.3px;
}

.hero-container {
  /*  background-color: rgba(0, 0, 0, 0.789); */
  width: 80%;
  height: 50vh;
  margin: 3rem auto 0 auto;
  padding: 1rem;
  border-radius: 2rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.hero-container p {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: justify;
}
.hero-container h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
}
/* header */
.header {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px 0px #4b4a4a;
  position: sticky;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu {
  list-style: none;
}
.menu a:hover {
  background-color: #ffcc29;
}

.logo img {
  width: 70px;
  padding-top: 7px;
  padding-left: 20px;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  color: #ededed;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background-color: #e2e2e2;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: #e2e2e2;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
/*                               Nosotros                                   */
.nosotros-container {
  background-color: transparent;
  width: 60%;
  height: 100%;
  margin: 2rem auto 0 auto;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

.nosotros-container h2 {
  font-size: 2rem;
  color: #f49f00;
  font-weight: 300;
}
.nosotros-container p {
  font-size: 1.2rem;
  color: #cdcdcd;
  margin-bottom: 0.5rem;
}
.nosotros-container img {
  width: 80%;
  height: auto;
  border-radius: 3.5rem;
  margin-top: 1rem;
  margin-left: 10rem;
}
/*                             Proyectos                                  */
.container-proyect {
  background-color: #000000;
  width: 95%;
  height: 650px;
  border: thin solid #f49f00;
  border-radius: 3rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.car-text {
  /* background-color: #ffffff1a; */
  width: 50%;
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-text h2 {
  margin: 2rem;
  color: #f49f00;
}

.car-text p {
  padding: 2rem;
  text-align: justify;
}

.carousel {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  margin: auto;
  margin-top: 2.5rem;
}

.carousel-item img {
  max-width: 550px;
  max-height: 550px;
}

/*                             Servicios                                  */
.div-container {
  /* background-color: #ffa200; */
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin-top: 0;
}
.card-group {
  /* background-color: #ffcc29; */
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #000000;
  border: thin double #f49f00;
  color: #d5d5d5;
  width: 350px;
  margin: 15px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.card-title {
  font-weight: 700;
}

.f-container {
  width: 100%;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.s-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.s-item h4 {
  color: rgb(172, 246, 242);
  text-align: center;
  font-size: 1rem;
}

/*                                Formulario                    */

.section {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section h2 {
  color: rgba(0, 0, 0, 0.7058823529);
  font-size: 3rem;
  padding: 30px;
}

.campo {
  padding: 13px 10px;
  background-color: #ededed;
  color: #0e111c;
  outline: none;
  font-size: 1rem;
  margin: 0 5px 5px 0;
  border: 0;
}
.campo {
  margin: 0 0 15px 0;
  width: 100%;
}
.campo::placeholder {
  color: #0e111c;
  text-transform: capitalize;
}

.btn-1 {
  display: inline-block;
  padding: 13px 35px;
  background-color: #f50a3d;
  color: #ededed;
  font-size: 1rem;
  margin-top: 25px;
  border: 0;
  cursor: pointer;
}

/* *****************************media******************************* */
@media (max-width: 540px) {
  h1 {
    font-size: 3rem;
  }

  .hero {
    background-color: transparent;
    height: 100%;
  }

  .hero-img {
    background-color: #f49f00;
    width: 95%;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .hero-img img {
    max-width: 24%;
    height: 5rem;
    margin: auto;
    margin-top: 5px;
  }

  .hero-container {
    width: 90%;
    height: 100%;
    margin: 1rem auto 1rem auto;

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .hero-container p {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 300;
    font-size: 1rem;
    color: #8dedf9;
    text-align: justify;
  }

  .hero-container h2 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #a5a5a5;
  }

  .container-proyect {
    background-color: #000000;
    width: 90%;
    height: 100%;
    border: thin solid #f49f00;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
  }

  .car-text {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .car-text h2 {
    margin: 1rem;
    color: #f49f00;
  }

  .car-text pre {
    margin: 0.5rem;
    margin-left: -2rem;
    font-size: 10px;
  }

  .car-text p {
    padding: 0.5rem;
    text-align: justify;
  }

  .carousel {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .d-block {
    margin: auto;
    margin-top: 1rem;
  }

  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
  }

  /*            nosotros             */
  .nosotros-container {
    width: 90%;
    height: 100%;
    margin: 1rem auto 3rem auto;
    display: block;
    flex-wrap: wrap;
    align-items: center;
  }
  .nosotros-container h2 {
    font-size: 1.3rem;
    color: #f4a700;
    font-weight: 500;
  }

  .nosotros-container p {
    font-size: 1rem;
    color: #fffcfc;
    /* margin-top: 0.3rem; */
    text-align: justify;
  }

  .nosotros-container img {
    width: 16rem;
    height: auto;
    border-radius: 2.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Servicios */
  .card {
    background-color: #000000;
    border: thin double #f49f00;
    width: 18rem;
    margin: 15px;
    color: #eaeaea;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: #ffcc29;
  }

  .hamb {
    display: none;
  }
}
